:root{

  --un-module: 20px;  
  --un-padding: var(--un-module);
  --un-gap: var(--un-module);
  --un-max-card-width: 600px;

  --un-primary-color: #0C2340;
  --un-background-color: white;
  --un-negative-color: white;
}

.un-wrapper{

  position: fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 10000;
  padding: var(--un-padding);
  display: flex;
  flex-direction: column;
  gap: var(--un-gap);
  pointer-events: unset;
  
}


/*

  NOTIFICATION STYLES
  
*/

.un-container{

  border: 1px solid;

}

.un-title-container{
  
  display: flex;
  gap: 10px;
  
}


h3.un-title{

  flex: 1;
  font-size: 25px !important;
  margin: 0;
  padding: var(--un-padding);

}

div.un-close-button{

  padding: var(--un-padding);
  display: flex;
  flex: 0;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}


/*

  NOTIFICATION CARD STYLES
  
*/

.un-card-container{

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  display: flex;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(1px);
  
}

.un-card{

  max-width: var(--un-max-card-width);
  width: 100%;
  height: auto;
  margin: auto;
  background: #EDEDED;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.un-card-body{
  
  padding: var(--un-padding);
  margin: 0;

}

.un-card-container .un-title-container{

  
}

.un-card-actions{
  display: flex;
  gap: var(--un-gap);
  padding: var(--un-padding);
  flex-direction: row-reverse;
}

.un-card-action{
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 7px;
}

.un-card-action-confirm{
  background: var(--un-primary-color);
  color: var(--un-negative-color) !important;
}

